<div>
  <app-text-skeleton
    besideOnNext="true"
    top="0px"
    borderRadius="5px"
    height="30"
    width="18px"></app-text-skeleton>
  <app-text-skeleton
    borderRadius="5px"
    top="0px"
    start="34px"
    height="30"
    width="27%"></app-text-skeleton>

  <app-text-skeleton
    height="12"
    borderRadius="7px"
    width="55%"
    top="7px"></app-text-skeleton>

  <br>

  <app-text-skeleton></app-text-skeleton>
  <app-text-skeleton [width]="'56%'"></app-text-skeleton>
  <app-text-skeleton [width]="'86%'"></app-text-skeleton>
  <app-text-skeleton [width]="'90%'"></app-text-skeleton>
  <app-text-skeleton [width]="'45%'"></app-text-skeleton>
  <app-text-skeleton [width]="'67%'"></app-text-skeleton>
</div>


