<!--User Menu Options-->
<mat-menu #userOptionsMenu="matMenu">
  <!--Lazy load menu-->
  <ng-template matMenuContent>
    <button mat-menu-item>
      <mat-icon>insert_emoticon</mat-icon>
      <span>Profil Pengguna&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </button>
    <button disabled mat-menu-item>
      <mat-icon>markunread_mailbox</mat-icon>
      <span>Saran</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item>
      <mat-icon color="warn">power_settings_new</mat-icon>
      <span class="warn">Keluar</span>
    </button>
  </ng-template>
</mat-menu>




<div class="the-container cdk-focused">

  <mat-progress-bar *ngIf="!hide" id="main-progress" color="accent" mode="indeterminate">
  </mat-progress-bar>

  <!--invisible fake button-->
  <button #fake mat-flat-button></button>

  <div *ngIf="(rootState.searching$ | async) && (rootState.asSmallSize$ | async); else showNavBar"></div>
  <!--navigation bar -->
  <ng-template #showNavBar>
    <mat-toolbar color="primary">
      <button #nav mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>view_headline</mat-icon>
      </button>


      <h2 *ngIf="(rootState.asSmallSize$ | async) && !(rootState.breadcrumbAppear$ | async)" class="the-app-title">{{currentMenu.displayName}}</h2>
      <h2 *ngIf="!(rootState.asSmallSize$ | async) && !(rootState.breadcrumbAppear$ | async)" class="the-app-title">
        <mat-chip-list>
          <span>{{breadcrumbPrefixText}}&nbsp;{{rootState.rightArrowChar}}&nbsp;</span>
          <mat-chip class="fake-chip-on-title" selected>
            <!--          <mat-icon>{{currentMenu.icon}}</mat-icon>          &nbsp;&nbsp;&nbsp;-->
            <strong>{{currentMenu.displayName}}</strong>
          </mat-chip>
        </mat-chip-list>
      </h2>


      <!-- jika breadcrumb terlihat di viewport -->
      <ng-container *ngIf="rootState.breadcrumbAppear$ | async">
        <h2 *ngIf="!(rootState.asSmallSize$ | async)" class="the-app-title">Form Pendataan RBPL</h2>
        <h2 *ngIf="(rootState.asSmallSize$ | async)" class="the-app-title">Form BRPL</h2>
      </ng-container>



      <!--spacer-->
      <span class="spacer"></span>



      <h3 *ngIf="(rootState.asSmallSize$ | async) && breadcrumbPrefixText !== currentMenu.displayName" class="mat-typography the-app-title">
        <mat-chip-list>
          <mat-chip class="fake-chip-on-title" selected>
            <!--          <mat-icon>{{currentMenu.icon}}</mat-icon>          &nbsp;&nbsp;&nbsp;-->
            <strong>{{breadcrumbPrefixText}}</strong>
          </mat-chip>
        </mat-chip-list>
      </h3>


      <!-- user menu on wide device -->
      <button mat-icon-button
              (click)="minimizeElectronWindow()"
              style="margin-top: -4px">
        <mat-icon>minimize</mat-icon>
      </button>
      <button mat-icon-button (click)="closeElectronWindow()">
        <mat-icon>clear</mat-icon>
      </button>
<!--      <button mat-icon-button [matMenuTriggerFor]="userOptionsMenu">-->
<!--        <mat-icon>drag_indicator</mat-icon>-->
<!--      </button>-->
<!--      <button mat-icon-button [matMenuTriggerFor]="userOptionsMenu">-->
<!--        <mat-icon>account_circle</mat-icon>-->
<!--      </button>-->


    </mat-toolbar>
  </ng-template>


  <!--side nav bar -->
  <mat-sidenav-container class="the-sidenav-container">

    <mat-sidenav #sidenav
                 [opened]="!(rootState.asSmallSize$ | async)"
                 id="the-sidenav"
                 [mode]="!(rootState.asSmallSize$ | async) ? 'side': 'over'">

      <input #isLarge type="hidden" [value]="!(rootState.asSmallSize$ | async)">
      <button mat-menu-item [ngClass]="m.hasActive"
              (click)="onMenuClicked(m, { sidenav: sidenav, isLarge: isLarge.value})"
              *ngFor="let m of menuInstance">

        <div class="the-sidenav-menu">
          <mat-icon class="display-icon" [color]="m.isBack ? backCss : ''">{{m.icon}}</mat-icon>
          <span [ngClass]="m.isBack ? backCss : ''">{{m.displayName}}</span>
          <span class="spacer"></span>
          <mat-icon class="expand-icon" *ngIf="m.hasChilds">{{m.rightIcon}}</mat-icon>
        </div>

      </button>

    </mat-sidenav>

    <mat-sidenav-content id="mainContentContainerId" class="mat-typography">

      <app-alat-tangkap></app-alat-tangkap>
<!--      <app-standard-ghost></app-standard-ghost>-->

    </mat-sidenav-content>


  </mat-sidenav-container>

</div>





